
<style>
.body{
  background: url("http://hdwpro.com/wp-content/uploads/2019/01/Nice-Nature-4K.jpg");
  background-size: cover; 
  height: 30rem;
   }
   
  .image-container1{
  background: url("https://cdn.wallpapersafari.com/48/11/uRFcp7.jpeg");
  background-size: cover; 
  height: 14rem;
   }

   .image-container2{
  background: url("https://wallpapertag.com/wallpaper/full/d/9/3/518236-free-cool-backgrounds-for-laptops-1920x1080-for-mobile.jpg");
  background-size: cover; 
  height: 14rem;
   }

.image-container3{
  background: url("https://wallpapercave.com/wp/wp1954191.jpg");
  background-size: cover; 
  height: 14rem;
   }

.navbar {
    background-color: transparent; 
    color: #FFFFFF; 
}
.navbar-brand {
    color: #FFFFFF; 
}
.navbar-nav .nav-link {
    color: #FFFFFF !important; 
}
.navbar-toggler-icon {
    background-color: #FFFFFF; 
}
.navbar-toggler {
    border: 1px solid #FFFFFF;
}
.rectangular-textbox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      width: 748px;
      height: 411px;
      left: 72px;
      top: 85px;
      padding:0px;
      gap: 32px;
      color: #FFFFFF;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
   .box-title {
      margin-top: 5px;
      font-size: 56px; 
      font-weight: bold;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
    
    .box-description {
    width: 528px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #333333; 
    color: #FFFFFF;
     }

    .learn-more-button {
            width: 153px;
            height: 42px;
            background-color: #333333;
            color: #FFF;
            font-family: 'Inter';
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        .get-started-button {
            width: 153px;
            height: 42px;
            background-color: #333333;
            color: #FFFFFF; 
            font-family: 'Inter';
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }


</style>

<div><div class= "body">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ART</a>
        <div class="container mt-2 mb-2 ml-2 mr-2">
          <div class="row gx-3">
            <div class="col-md-2">
            <div class="rectangular-textbox">
                <div class="rectangular-box">
                <p class="box-title">Art pieces made easy accessible for everyone</p>
                <p class="box-description">Learn, buy and trade art pieces of your favorite artist around the world by using crypto currencies.</p>
                <button class="learn-more-button">Learn More</button>
              </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-8 order-md-last">
            </div>
            <div class="col-md-2 col-sm-8 order-md-last">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-right">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Artists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Careers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Company</a>
                  </li>
                  <li class="nav-item">
                    <button class="learn-more-button">GetStarted</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav> 
  </div>


  <div>
    <div class="container mt-4">
    <h1>Newest reads</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="rectangle-7"></div>
            <div class="image-container1"></div>
            <p class="date">5 August, 2022</p>
            <h5 class="card-content">France seeks to protect Russia's Morozov collection from seizure as masterpieces return home</h5>
            <p class="read-more text-start text-warning">Read more ->></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="rectangle-7"></div>
            <div class="image-container2"></div>
            <p class="date">5 August, 2022</p>
            <h5 class="card-content">Venice Biennale 2022: all the national pavilions, artists and curators</h5>
            <p class="read-more text-start text-warning">Read more ->></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <div class="rectangle-7"></div>
            <div class="image-container3"></div>
            <p class="date">5 August, 2022</p>
            <h5 class="card-content">Picasso’s muse as sea creature—will it break $100m at Sotheby's New York sale?</h5>
            <p class="read-more text-start text-warning">Read more ->></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
               
